*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	transition: all 0.15s;
	word-break: break-word;
}

#root,
.app,
html,
body {
	height: 100%;
}

.app {
	display: flex;
	position: relative;
}

:root {
	--orange: #0064a5;
	--darkBlue: #0064a5;
	--baseBlue: #336791;
	--lightBlue: #008bb9;
	--darkGrey: #848484;
	--baseGrey: #666666;
	--lightGrey: #585858;
	--darkOrange: #cc3b03;
	--baseOrange: #d24b03;
	--lightOrange: #f26522;
}

.row,
.col,
.ctr {
	display: flex;
	align-items: center;
}

.row,
.col {
	justify-content: space-evenly;
}

.col {
	flex-direction: column;
}

.ctr {
	justify-content: center !important;
}

.fw {
	width: 100%;
}

.fh {
	height: 100%;
}

.bold {
	font-weight: 900;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.hidden {
	opacity: 0%;
	visibility: hidden;
	z-index: -5;
}

div {
	background-size: cover;
}

img {
	object-fit: cover;
}